body,html{
	background-color: white;
}
.container{
	width: 375px;
	height:545px;
	background-image: url('../images/lexus_birdseye.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
a{
	color:white;
}
a:hover{
	text-decoration: none;
	color:black;
}
#speed{
font-size: 50px;
}
img.nav-icon{
width: 160px;
height: 160px;
border-radius: 20px;
background-color: white;
opacity: 0.8;
blur: 30px; /* I don’t know the vendor prefixes for this */
padding: 40px;
margin: 5px;
}

#tiretopright{
width: 50px;
height: 85px;
border-radius: 15px;
border-color: black;
 background:Orange;
}

#tiretopleft{
width: 50px;
height: 85px;
border-radius: 15px;
border-color: black;
 background:SpringGreen;
}

#tirebottomright{
width: 50px;
height: 85px;
border-radius: 15px;
border-color: black;
 background:SpringGreen;
}

#tirebottomleft{
width: 50px;
height: 85px;
border-radius: 15px;
border-color: black;
 background:SpringGreen;
}