body,html{
	background-color: grey;
}
.container{
	width: 375px;
}
#bg{
	width:375px;
	background-image: url('../images/lexus_birdseye.jpg');
	background-repeat: no-repeat;
}
#speed{
font-size: 50px;
}
img.nav-icon{
width: 160px;
height: 160px;
border-radius: 20px;
background-color: white;
opacity: 0.8;
blur: 30px; /* I don’t know the vendor prefixes for this */
padding: 40px;
margin: 5px;
}

#tiretopright{
width: 50px;
height: 100px;
border-radius: 18px;
border-color: black;
 background:Orange;
}

#tiretopleft{
width: 50px;
height: 100px;
border-radius: 18px;
border-color: black;
 background:SpringGreen;
}

#tirebottomright{
width: 50px;
height: 100px;
border-radius: 18px;
border-color: black;
 background:SpringGreen;
}

#tirebottomleft{
width: 50px;
height: 100px;
border-radius: 18px;
border-color: black;
 background:SpringGreen;
}