/* toggle styling from http://www.designcouch.com/home/why/2013/09/19/ios7-style-pure-css-toggle/ */
/* remove default styling */
input.ios-toggle {
	max-height: 0;
	max-width: 0;
	opacity: 0;
}

/* container */
input.ios-toggle + label {
	display: block;
	position: relative;
	box-shadow: inset 0 0 0px 1px #d5d5d5;
	text-indent: -5000px;
	height: 30px;
	width: 50px;
	border-radius: 15px;
}

/* switch background */
input.ios-toggle + label:before {
	content: "";
	position: absolute;
	display: block;
	height: 30px;
	width: 30px;
	top: 0;
	left: 0;
	border-radius: 15px;
	background: rgba(19, 191, 17, 0);
	-moz-transition: .25s ease-in-out;
	-webkit-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

/* switch */
input.ios-toggle + label:after {
	content: "";
	position: absolute;
	display: block;
	height: 30px;
	width: 30px;
	top: 0;
	left: 0px;
	border-radius: 15px;
	background: white;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2), 0 2px 4px rgba(0, 0, 0, .2);
	-moz-transition: .25s ease-in-out;
	-webkit-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

input.ios-toggle:checked + label:before {
	width: 50px;
	background: rgba(19, 191, 17, 1);
}

input.ios-toggle:checked + label:after {
	left: 20px;
	box-shadow: inset 0 0 0 1px rgba(19, 191, 17, 1), 0 2px 4px rgba(0, 0, 0, .2);
}

body,html{
	background-color: white;
	font-family: 'Roboto', sans-serif;
	color: #566573;
}
.container{
	width: 375px;
	height:667px;
	background-image: url('../exports/background.png');
	background-size: cover;
	background-repeat: no-repeat;
}
.container.blur{
	background-image: url('../exports/background_blur.png');
}

.row {
	margin-top: 15px;
	margin-bottom: 15px;
}

.h2 { 
	font-size: 28px; 
	text-align: center;
}
.h3 { 
	font-size: 24px;
}

a{
	color:black;
}
a:hover{
	text-decoration: none;
	color:gray;
}

#speed{
	font-size: 50px;
}

img.nav-icon{
/*<<<<<<< HEAD
width: 150px;
height: 150px;
border-radius: 20px;
background-color: white;
opacity: 0.95;
blur: 40px; /* I don’t know the vendor prefixes for this 
padding: 40px;
margin: 5px;
}*/

	width: 150px;
	height: 150px;
	border-radius: 20px;
	background-color: white;
	opacity: 1;
	/*-webkit-filter: blur(30px);
	  -moz-filter: blur(30px);
	  -o-filter: blur(30px);
	  -ms-filter: blur(30px);
	  filter: blur(30px);*/
	padding: 40px;
	margin: 5px;
}

.tire {
	width: 46px; /* makes up for inset border */
	height: 85px;
	border-radius: 15px;
	border: 2px solid #566573;
}

#tire-top-right{
	background-color: #FF9800;
}

#tire-top-left,
#tire-bottom-right,
#tire-bottom-left{
	background-color: #8BC34A;
}